* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: rgb(227, 234, 240);
    font-weight: 700;
    font-size: 2.5rem;
    opacity: 0.9;
}
h2{
    color: rgb(227, 234, 240);
    font-weight: 500;
    font-size: 2rem;
}
h3{
    color: rgb(164, 194, 221);
    font-weight: 400;
    font-size: 18px;
}
p{
    color: black;
    font-size:18px;
}
pre{
    color: black;
    font-family: 'Poppins', sans-serif;
}

.page {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top,#154360 ,#D6EAF8 );
    display: flex;
    align-items: center;
    justify-content: center;

  
}
.glass{
    min-height: 90vh;
    width: 90%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, ), rgba(255,255,255, 0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(0.3rem);
    display: flex;

}
.bgimage{
    background: url(../Pages/mmi.jpg) center;
    background-size: 100%;
    min-height: 90vh;
    width: 90%;
    border-radius: 2rem;
    position: absolute;

}
.sidebar{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255,255,255, 0.5)); */
    border-radius: 2rem;
    /* border-left: 0px;
    border-right: 1px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      rgba(255, 255, 255, 0.7), 
      rgba(153, 188, 216, 0)
    ) 1 100%; */
}
.links{
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

/* .sidebarimg{
    flex: 2;
    background: url(./bbb.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 90%;
    border-radius: 2rem;
    margin: 1rem;
} */
.logo{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.nav-links{
    display: flex;
    flex-direction: column;
}
.nav-links li{
    list-style: none;
    padding: 5px;
}
.nav-links a{
    text-decoration: none;
}
.nav-links h3:hover {
    color: rgb(227, 234, 240);
}
.main{
    flex: 4;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem;
    border-radius: 2rem;
 
}
.header{
    flex: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-end;

}
.texts{
    flex: 1;
    display: flex;
    align-items: flex-end;
    border-radius: 2rem;;
    padding-bottom: 3rem;

}

.mainp1{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    padding: 1rem;
    
}
/* .mainp2{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    padding: 1rem;
    
} */
/* .mainp3{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    padding: 1rem;
    
} */
 .subnav-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }
 .rublogo{
    perspective: 2000px;
    flex: 1;
}
.container{
   width: 20rem;
   height: 15rem;
   display: flex;
   justify-content: center;
   align-items: center;
}
.card{
   transition: all 0.5s ease;
   transform-style: preserve-3d;
   width: 12rem;
   height: 10rem;
   border-radius: 15px;
   padding: 0rem 5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   /* background:linear-gradient(to right top,rgb(110, 195, 248),rgb(153, 188, 216)); */
   
}
.logorub{
   min-height: 30vh;
   display: flex;
   align-items: center;
   justify-content: center;

}
.logorub img{
   width: 12rem;
   z-index: 2;
}
.circle{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 12rem;
   height: 15rem;
   position: absolute;
   border-radius:1rem;
   z-index: 1;
   background:linear-gradient(to bottom,rgba(236, 240, 241, 0),rgb(227, 234, 240));
}
.container1{
    width: 20rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .card1{
    transition: all 0.5s ease;
    transform-style: preserve-3d;
    width: 12rem;
    height: 10rem;
    border-radius: 15px;
    padding: 0rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background:linear-gradient(to right top,rgb(110, 195, 248),rgb(153, 188, 216)); */
    
 }
 .logorub1{
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
 
 }
 .logorub1 img{
    width: 12rem;
    z-index: 2;
 }
 .circle1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 15rem;
    position: absolute;
    border-radius:1rem;
    z-index: 1;
    background:linear-gradient(to Top,rgba(236, 240, 241, 0),rgb(227, 234, 240));
 }
 @media all and (max-width: 1536px), screen and (max-height: 935px){
    h1{
        color: rgb(227, 234, 240);
        font-weight: 600;
        font-size: 25px;
        opacity: 0.8;
    }
    h2{
        color: rgb(227, 234, 240);
        font-weight: 500;
        font-size: 23px;
    }
    h3{
        color: rgb(164, 194, 221);
        font-weight: 400;
        font-size: 15px;
    }
    p{
        color: black;
        font-size:15px;
    }
    pre{
        font-size:13px;
        color: black;
        font-family: 'Poppins', sans-serif;
    }
    .rublogo1{
        perspective: 2000px;
    }
    .container1{
       width: 10rem;
       height: 10rem;
       display: flex;
       justify-content: flex-start;
       align-items: center;
    }
    .card1{
       transition: all 0.5s ease;
       transform-style: preserve-3d;
       width: 9rem;
       height: 6rem;
       border-radius: 30px;
       padding: 0rem 5rem;
       display: flex;
       align-items: center;
       justify-content: center;
    }
    .logorub1{
       min-height: 30vh;
       display: flex;
       align-items: center;
       justify-content: center;
    
    }
    .logorub1 img{
       width: 8rem;
       z-index: 2;
    }
    .circle1{
       display: flex;
       align-items: center;
       justify-content: center;
       width: 8rem;
       height: 10rem;
       position: absolute;
       border-radius:1rem;
       z-index: 1;
       background:linear-gradient(to Top,rgba(236, 240, 241, 0),rgb(227, 234, 240));
    }
    .rublogo{
        perspective: 2000px;
    }
    .container{
       width: 10rem;
       height: 10rem;
       display: flex;
       justify-content: flex-start;
       align-items: center;
    }
    .card{
       transition: all 0.5s ease;
       transform-style: preserve-3d;
       width: 9rem;
       height: 6rem;
       border-radius: 30px;
       padding: 0rem 5rem;
       display: flex;
       align-items: center;
       justify-content: center;
    }
    .logorub{
       min-height: 30vh;
       display: flex;
       align-items: center;
       justify-content: center;
    
    }
    .logorub img{
       width: 8rem;
       z-index: 2;
    }
    .circle{
       display: flex;
       align-items: center;
       justify-content: center;
       width: 8rem;
       height: 10rem;
       position: absolute;
       border-radius:1rem;
       z-index: 1;
       background:linear-gradient(to bottom,rgba(236, 240, 241, 0),rgb(227, 234, 240));
    }
 }

